#all-tweets .tweet {
  /*flex-grow: 1;*/
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 10px;
  width: 45em;
  margin: 1em auto;
  background-color: #d3d3d3;
  padding: 0em;
  border: solid #a9a9a9;
  border-width: 0.05em;
  /*height: auto;*/
}

#all-tweets .tweet:hover {
  border-color: black;
}

#all-tweets .tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*float : top;*/
  order: 1;
  width: 100%;
  flex-grow: 2;
  border-radius: 10px 10px 0px 0px;
  margin: auto;
  background-color: #d3d3d3;
  /*padding: 0.2em 0.2em;*/
  border-bottom: solid #d3d3d3;
  /*height: 20%;*/
  text-align: center
}

#all-tweets .tweet footer {
  display: flex;
  align-items: center;
  order: 3;
  width: 100%;
  flex-grow: 1;
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  background-color: white ;
  padding-left: .2em;
  border-top: solid #d3d3d3;
  height: auto;
  text-align: left;
}

#all-tweets .tweet > content {
  /*float : bottom;*/
  order: 2;
  width: 100%;
  flex-grow: 3;
/*  border-radius: 10px;*/
  margin: auto;
  background-color: white;
  padding: 0.2em 0.2em;
  /*border: solid;*/
  min-height: 3em;
  text-align: left;
  overflow-wrap: break-word;
}


#all-tweets .tweet header img {
  order : 1;
  flex-grow: 0;
  border-radius: 3px;
  margin: auto auto auto .5em;
  margin-top: .1em;
  width: 5%;
  height: 5%;
  text-align: center;
  /*margin: 1em 0.5em;*/

}

#all-tweets .tweet header content {
  order: 2;
  flex-grow: 1;
  /*box-sizing: content-box;*/ /*How do I fix the box so that it fills the whole thing?*/
  /*margin: 1em 1em;*/
  background-color: #d3d3d3;
  text-align: left;
  height: auto;
  margin: 0em .5em;
  font-size: 1.5em;
  font-weight: 700;

  /*flex-basis: auto;*/
/*  width: 100%;
  height: 100%;*/
  /*margin:*/

}

#all-tweets .tweet header .user-info {
  order: 3;
  flex-grow: 0;
  margin-right: .5em;

}

#all-tweets .tweet footer ._from {
  flex-grow: 1;
  /*float: left;*/
  margin: auto;
}

#all-tweets .tweet footer i {
  visibility: hidden;
  flex-grow: 0;
  margin: .2em;
  font-size: 20px;
  color: #00a087 ;
}

#all-tweets .tweet:hover footer i {
  visibility: visible;
}