#nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 50px}


#nav-bar .logo {
  order: 1;
  flex-grow: 0;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  order: 2;
  flex-grow: 1;
  position: relative;
  left: 10px;
  line-height: 80px;
  font-size: 2em;
}

#nav-bar .button {
  display: flex;
  align-items: center;
  flex-grow: 0;
  order: 3;
  border-radius: .2em;
  border: solid;
  border-width: .001em;
  opacity: 0.9;
}

#nav-bar .button:hover {
  opacity: 1;
}

#nav-bar .button i {
  flex-grow: 0;
  order: 1;
  margin-right: 0.2em;
}

#nav-bar .button .content {
  flex-grow: 1;
  order: 2;
}

#nav-bar .button:hover .content {
  color: #00a087;
}

#nav-bar .button:hover i {
  color: #00a087;
}