main .new-tweet {
  display: flex;
  flex-direction: column;
  /*order: 2;*/
  flex-grow: 1;
  display: none;
  width: 45em;
  border-radius: 10px;
  margin: 0em auto;
  background-color: #d3d3d3;
  padding: 0.5em 1em;
  border: solid #a9a9a9;
  height: auto;
}

.new-tweet h2 {
  border-bottom: solid;
  flex order: 1;
  flex-grow: 1;
  margin: auto;
}

.new-tweet textarea {
  order: 2;
  flex-grow: 2;
  width: 100%;
  margin: auto;
  margin-top: 1em;
  height: auto;
  padding: .3em;
}

.new-tweet footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex order: 3;
  flex-grow: 1;
  margin: auto;
}

.new-tweet textarea.error {
  box-shadow: 0px 0px 35px -4px rgba(255,0,64,0.81);;
}

.new-tweet .error-message {
  order: 2;
  flex-grow: 1;
  margin: auto;
  margin-left: 0.5em;
  color: red;
}


main .counter {
/*  need to find out how to center the text on tweet. try relative*/
  order: 3;
  flex-grow: 0;
  font-size: 1em;
  /*text-align: center;*/

}

main .form .input {
  order: 1;
  flex-grow: 0;

}

main .counter.over{
  color: red;
}